<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915402805297-9fr706u92dgeu4o6ftqisnukglcbbsn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915402805297-9fr706u92dgeu4o6ftqisnukglcbbsn0</string>
	<key>API_KEY</key>
	<string>AIzaSyDVCu3v2i5ui52jRN2iiW_w6ndgUhQZQHs</string>
	<key>GCM_SENDER_ID</key>
	<string>915402805297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nonoka.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c596d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c596d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915402805297:ios:13c68d63662586458dc510</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-c596d.firebaseio.com</string>
</dict>
</plist>